{% extends "job/base-job.html" %}
{% load static %}
{% block bar %}
<p class="lead text-center fw-bold titulo">Crear gasto:</p>
{% endblock bar %}
{% block content %}
<div class="caja mt-3" style="max-width: 400px; margin: auto; padding: 2rem;">
    <form action="{% url 'job:create_spent' job.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-1">
            <label for="{{ form.item.id_label}}" class="control-label titulo">Item:</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="extra" id="extra">
                <label class="form-check-label texto" style="font-size: 12px;" for="extra">gasto extra</label>
            </div>
            {{ form.item }}
        </div>
        <div class="form-group mb-1">
            <p class="texo">No encuentra el item?
                <span><a class="titulo" style="color: black; margin-left: 2rem;" href="{% url 'item:create_item' %}">Crear</a></span>
            </p>
        </div>  
        <div class="form-group mb-1">
            <label for="{{ form.description.id_label}}" class="control-label titulo">Descripcion:</label>
            {{ form.description }}
        </div>
        <div class="form-group mb-1">
            <label for="{{ form.amount.id_label}}" class="control-label titulo">Cantidad:</label>
            {{ form.amount }}
        </div>
        <div class="form-group mb-2">
            <label for="{{ form.image.id_label}}" class="control-label titulo">Imagen:</label>
            {{ form.image }}
        </div>
        <div class="text-end">
            <button class="btn btn-outline-dark" type="submit">Guardar</button>
            <a class="btn btn-danger" href="{% url 'job:job_detail' job.id %}">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}
{% block script %}
<script>
    let item = document.querySelector('#id_item');
    let description = document.querySelector('#id_description');
    let amount = document.querySelector('#id_amount');
    let extra = document.querySelector('#extra');
    extra.onchange = () => {
        if (extra.checked) {
            item.removeAttribute('required');
            description.setAttribute('required', true);
            amount.setAttribute('required', true);
            item.setAttribute('disabled', true);
            item.style.display = 'none';
        } else {
            item.setAttribute('required', true);
            description.removeAttribute('required');
            amount.removeAttribute('required');
            item.removeAttribute('disabled');
            item.style.display = '';
        }
    }
</script>
{% endblock script %}