{% extends "job/base-job.html" %}
{% load static %}
{% block bar %}
<p class="lead text-center fw-bold titulo">Trabajos:</p>
{% endblock bar %}
{% block content %}
<div class="col-10 mt-0 mb-4 m-auto">
    <a href="{% url 'job:create_job' %}"><button class="btn btn-outline-dark mb-2">Nuevo Trabajo</button></a>
    {% if jobs %}
    <ul class="list-group listDisplay">
        {% for j in jobs %}
        <li class="caja list-group-item d-flex justify-content-between align-items-start mb-1">
            <span class="badge text-bg-info rounded-pill">{{ j.status }}</span>
            <a class="list-group-item list-group-item-action" href="{% url 'job:job_detail' j.id %}">
                <div class="ms-2 me-auto">
                    <div class="fw-bold titulo">{{ j.client }}</div>
                    <p class="texto">{{ j.description}}</p>
                </div>
            </a>
            <span class="badge text-bg-primary rounded-pill">{{ j.price }} usd</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="fw-bold text-center">No hay trabajos guardados, cree el primero.</div>
    {% endif %}
</div>
{% endblock content %}
