{% extends "job/base-job.html" %}
{% load static %}
{% block bar %}
<p class="lead text-center fw-bold titulo">Detalles del trabajo:</p>
{% endblock bar %}
{% block content %}
<div class="col-10 mt-0 mb-4 m-auto">
    <a href="{% url 'job:job_list' %}"><button class="btn btn-outline-dark mb-2">Atras</button></a>
    <div class="card caja">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title titulo">Cliente</h5>
                    <p class="card-text texto m-0">Nombre: <a style="text-decoration: none;" href="{% url 'job:client_detail' job.client.id %}">{{ job.client.user.username }}</a></p>
                    <p class="card-text texto m-0">Telefono: <a style="text-decoration: none;" href="tel:{{ job.client.phone }}">{{ job.client.phone }}</a></p>
                    <p class="card-text texto m-0">Direccion: <a style="text-decoration: none;" target="_blank" href="https://www.google.com/maps?q={{ job.client.address }}">{{ job.client.address }}</a></p>
                    <p class="card-text texto m-0">Email: <a style="text-decoration: none;" href="mailto:{{ job.client.user.email }}">{{ job.client.user.email }}</a></p>
                </div>
            </div>
            <div class="col-md-4 text-end m-auto">
                <img src="{{ job.client.user.profile.image.url }}" style="width: 8rem; height: 8rem;" class="img-fluid rounded" alt="...client">
            </div>
        </div>
    </div>
</div>  
<div class="col-10 mt-0 mb-4 m-auto">
    <div class="card caja">
        <div class="row g-0">
            <p class="text-end fw-bold m-0 texto">Precio: {{ job.price }} usd, {{ job.status }}</p>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title texto">{{ job.description }}</h5>
                    <p class="card-text texto"><a style="text-decoration: none;" href="geo:0,0?q={{ job.address }}">{{ job.address }}</a></p>
                    <p class="card-text texto"><small class="text-body-secondary">{{ job.date }}</small></p>
                </div>
            </div>
            <div class="col-md-4 text-end m-auto">
                <img src="{{ job.image.url }}" id="image-detail" style="width: 10rem; height: 10rem; border-radius: 5px;" class="img-fluid" alt="...receipt">
            </div>
        </div>
    </div>
    <div class="list-group-item d-flex justify-content-end align-items-start">
        {% if not job.closed %}
        <a href="{% url 'job:job_list' %}"><button class="btn btn-outline-dark m-2">Editar</button></a>
        <a href="{% url 'job:close_job' job.id %}"><button class="btn btn-danger m-2">Cerrar</button></a>
        <a href="{% url 'job:delete_job' job.id %}"><button class="btn btn-danger m-2">Eliminar</button></a>
        {% else %}
        <button disabled class="btn btn-danger m-2">Cerrado</button>
        {% endif %}
    </div>
    <p class="lead text-center fw-bold texto">Total de gastos: {{ total_spent }}usd, Ganancia: {{ profit }}usd</p>
    {% if not job.closed %}
    <div class="list-group-item d-flex justify-content-start align-items-start">
        <a href="{% url 'job:create_spent' job.id %}"><button class="btn btn-outline-dark m-2">Agregar gasto</button></a>
    </div>
    {% endif %}
    <p class="lead text-center fw-bold titulo">Gastos:</p>
    {% if spents %}
    <ul class="list-group listDisplay">
        {% for spent in spents %}
        <li class="caja list-group-item mb-1">
            <a class="d-flex justify-content-between align-items-start" href="{% url 'job:spent_detail' spent.id %}">
                <div class="ms-2 me-auto text-dark">
                    <div class="fw-bold texto m-0">{{ spent.amount }} usd</div>
                    <p class="texto m-0">{{ spent.description}}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="fw-bold text-center texto">No hay gastos, cree el primero.</div>
    {% endif %}
</div>
{% endblock content %}
