{% extends "web/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
{% endblock head %}
{% block body %}
<header class="header" data-aos="fade-down">
    <section class="flex">
        <a href="#" class="logo">Akssen Solutions</a>
        <nav class="navbar">
            <a href="#">Services</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            {% if user.is_authenticated %}
            <a href="{% url 'job:job_list' %}">Panel</a>
            {% else %}
            <a href="{% url 'user:login' %}">Login</a>
            {% endif %}
        </nav>
        <div id="menu-btn"><i class="fas fa-bars"></i></div>
    </section>
</header>
<div class="container-home" data-aos="zoom-out">
    <!-- <img src="{% static 'web/images/lateral-snowflake.png' %}" alt="lateral..."> -->
    <div class="text-box" data-aos="zoom-in" data-aos-delay="500">
        <h1>Akssen <br> Solutions</h1>
        <h3>Emergency 24/7 <i class="fa-solid fa-phone-volume text-danger"></i> Call (786) 384-4191</h3>
        <div class="row-types">
            <p class="btn">Commercial Services</p>
            <p class="btn">Residential Services</p>
            <img src="{% static 'web/images/worker.png' %}" alt="lateral...">
        </div>
    </div>
    <div class="emergency-box" data-aos="fade-up" data-aos-delay="600">
        <h3>Emergency 24/7 <i class="fa-solid fa-phone-volume text-danger"></i> Call (786) 384-4191</h3>
    </div>
    <!-- <img class="snowflake1" src="{% static 'web/images/2-snowflake.png' %}" alt="snowflake1...">
    <img class="snowflake2" src="{% static 'web/images/2-snowflake.png' %}" alt="snowflake2...">
    <img class="snowflake3" src="{% static 'web/images/2-snowflake.png' %}" alt="snowflake3..."> -->
</div>
<div class="container about" id="about" style="min-width: 100vw;">
    <h1 class="heading" data-aos="zoom-out">about us</h1>
    <section>
        <div class="details">
            <div class="box" data-aos="zoom-in">
                <h3>why choose us?</h3>
                <p>some text...</p>
                <a href="#contact" class="btn">contact us</a>
            </div>
        </div>
        <div class="grid">
            <div class="box" data-aos="fade-up">
                <img src="{% static 'web/images/rapid-response.jpg' %}" alt="">
                <h3>We are fast!!!</h3>
                <p>Explicar</p>
            </div>
            <div class="box" data-aos="fade-up" data-aos-delay="400">
                <img src="{% static 'web/images/good-quality.jpg' %}" alt="">
                <h3>Excellent Service!!!</h3>
                <p>Explicar</p>
            </div>
            <div class="box" data-aos="fade-up" data-aos-delay="600">
                <img src="{% static 'web/images/satisfaction.jpg' %}" alt="">
                <h3>Motive 3</h3>
                <p>Explicar</p>
            </div>
        </div>
    </section>
</div>
<div class="container reviews" style="min-width: 100vw;">
    <h1 class="heading" data-aos="zoom-out">client's reviews</h1>
    <section class="grid">
        <div class="box" data-aos="fade-up">
            <img src="{% static 'web/images/jhon.png' %}" alt="">
            <h3>Jhon Doe</h3>
            <p>vkfdvmomfvoaimcoaismca</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box" data-aos="fade-up">
            <img src="{% static 'web/images/jhon.png' %}" alt="">
            <h3>Jhon Doe</h3>
            <p>vkfdvmomfvoaimcoaismca</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box" data-aos="fade-up">
            <img src="{% static 'web/images/jhon.png' %}" alt="">
            <h3>Jhon Doe</h3>
            <p>vkfdvmomfvoaimcoaismca</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </section>
</div>
<div class="container contact" id="contact" style="min-width: 100vw;">
    <h1 class="heading" data-aos="zoom-out">Contact Us</h1>
    <section>
        <div class="row">
            <iframe data-aos="flip-left" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14378.873873155413!2d-80.4215239!3d25.7137438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9c089772334c1%3A0x636c4b65a7b38794!2sKendale%20Lakes%2C%20FL!5e0!3m2!1sen!2sus!4v1709327487388!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <form data-aos="flip-right" action="">
                <h3>Get in Touch</h3>
                <input type="text" name="name" required maxlength="50" placeholder="enter your name" class="box">
                <input type="email" name="email" required maxlength="50" placeholder="enter your email" class="box">
                <input type="number" name="number" required maxlength="50" placeholder="enter your number" class="box">
                <textarea class="box" name="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" class="btn" value="send message">
            </form>
        </div>
        <div class="grid">
            <div class="box" data-aos="fade-up">
                <i class="fas fa-phone"></i>
                <h3>Phone Number</h3>
                <a href="tel:+1 786 384 4191">+1 786 384 4191</a>
            </div>
            <div class="box" data-aos="fade-up">
                <i class="fas fa-envelope"></i>
                <h3>Email Address</h3>
                <a href="mailto:asda@asdas.com">asdasd@asdas.com</a>
            </div>
        </div>
        <div class="credit">
            &copy; copyright @ 2024 by <span>iVan</span> | all rights reserved
        </div>
    </section>
</div>
{% endblock body %}
{% block script %}
<script src="{% static 'web/js/script.js' %}"></script>
{% endblock script %}